
body{
  background-color: #393E46;
  margin: 0;
  padding: 0;
}
h1{
  margin: 0;
}
a{
  color: white;
}
.top{
font-family: "Lobster";
    font-size: 4rem;
    text-align: center;
    text-shadow: 10px 0 #232931;
    margin: 2%;
}
.player1{
  display: block;
  width: 25%;
    position: absolute; left: 25%;
  margin: 0;
  font-weight: lighter;
  font-family: "Indie Flower";
  font-size: 1.5rem;
  text-align: center;

}
.player2{
  display: block;
  width: 25%;
  position: absolute; right: 25%;
  margin: 0;
  font-weight: lighter;
  font-family: "Indie Flower";
  font-size: 1.5rem;
  text-align: center;

}
.bottom{
    font-family: "Indie Flower";
    display: block;
    position: absolute; right: 47%; bottom: 5%;
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
  font-weight: normal;

}
.text{
  color: #4ECCA3;
}
